<nav>
  <div class="container">


    <div class="burger">
      <label for="check" class="checkbtn">
        <mat-icon>{{show ? "close": "menu" }}</mat-icon>
      </label>
    </div>

    <input type="checkbox" id="check" [(ngModel)]="show">
    <div class="menu">
      <div class="column">

        <ul>
          <li>
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li>
            <a routerLink="/products" routerLinkActive="active">Products</a>
          </li>

          <li class="submenu" *ngIf="isAdmin()">
            <a>Admin
              <select></select>
            </a>
            <div class="submenu-links">
              <a routerLink="/admin/products" routerLinkActive="active">Products</a>
              <a routerLink="/admin/orders" routerLinkActive="active">Orders</a>
              <a routerLink="/admin/items" routerLinkActive="active">Items</a>
              <a routerLink="/admin/users" routerLinkActive="active">Users</a>
              <a routerLink="/admin/tokens" routerLinkActive="active">Tokens</a>
            </div>
          </li>
        </ul>

        <ul>
          <li *ngIf="!currentUser?.userId">
            <a routerLink="auth/login" routerLinkActive="active">Login</a>
          </li>
          <li class="submenu" *ngIf="currentUser?.userId">
            <a>{{currentUser.username}}
              <select></select>
            </a>
            <div class="submenu-links">
              <a routerLink="/profile" routerLinkActive="active">Profile</a>
              <a routerLink="/my-orders" routerLinkActive="active">My Orders</a>
              <a routerLink="/" (click)="logout()">Logout</a>
            </div>
          </li>
          <li class="cart">
            <a routerLink="/cart" routerLinkActive="active">
              <mat-icon matBadge="{{cartQuantity}}" matBadgeColor="warn">shopping_cart</mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>


  </div>
</nav>