.container {
    margin: 10px 20px 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 20px 0;
    width: 100%;
}

table {
    border: 2px solid rgb(186, 184, 184);
    font-family: arial, sans-serif;
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    word-wrap: break-word;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background-color: rgb(174, 174, 174);
}

.btn-delete {
    margin: 2px;
    font-size: 16px;
    font-weight: 600;
    background: rgb(247, 120, 120);
    border: 2px solid grey;
    cursor: pointer;
  }
  
  .btn-delete:hover {
    color: white;
    background: rgb(250, 46, 46);
  }
  

@media (min-width: 1201px) {
    .column {
        display: none;
    }
}

@media (max-width: 1200px) {
    .row {
        display: none;
    }

    .container {
        margin: auto;
        padding: 6px;
        max-width: 500px;
    }

    tbody {
        border: 2px solid grey;
    }

}