.container {
  background: #353535;
  height: 80px;
  margin: auto;
  /* border: 2px solid rgb(255, 0, 0); */
}

.content {
  margin: auto;
  box-sizing: border-box;
  max-width: 1500px;
  height: 100%;
  /* border: 2px solid rgb(112, 3, 254); */
}

/* ----------------------------------------------- row */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding: 0 20px;
  /* border: 2px solid rgb(254, 3, 3); */
}

.row ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* border: 2px solid rgb(3, 112, 254); */
}

.row ul li {
  display: block;
  margin: 0;
  padding: 0;
}

.row ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  padding: 14px;
  /* border: 2px solid rgb(254, 3, 3); */
}

.row ul li a.active {
  color: yellow;
}

.row ul li a:hover {
  color: yellow;
}

.dropdown {
  position: relative;
}

.dropdown img {
  width: 14px;
  height: 14px;
  margin-left: 4px;
  /* border: 2px solid rgb(254, 3, 3); */
}

.dropdown-menu {
  position: absolute;
  background: #353535;
  display: none;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.dropdown-menu a {
  width: 120px;
  border-top: 1px solid white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* -------------------------------------------- burger */

.burger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50px;
  height: 100%;
  /* border: 2px solid rgb(197, 207, 0); */
}

.checkbtn {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: white;
  color: #353535;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  /* border: 2px solid rgb(254, 3, 3); */
}

.burger-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;   
  font-size: 36px;
  /* border: 2px solid rgb(254, 3, 3); */
}

#check {
  display: none;
}

/* -------------------------------------------- column */

.column {
  position: absolute;
  display: none;
  top: 50px;
  left: 0;
  /* border: 2px solid rgb(3, 112, 254); */
}

.column ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;  
  background: #353535;
  /* border: 2px solid rgb(3, 112, 254); */
}

.column ul li {
  display: block;
  margin: 0;
  padding: 0;
}

.column ul li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  color: white;  
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  font-size: 20px;
  padding: 14px 22px;
  /* border: 2px solid rgb(254, 3, 3); */
}

.column > ul > li > a {
  border-top: 1px solid white;
}

.column ul li a.active {
  color: yellow;
}

.column ul li a:hover {
  color: yellow;
}

@media (max-width: 880px) {
  .row ul li a {
    font-size: 18px;
    padding: 10px;
  }
}

@media (max-width: 550px) {
  .container {
    height: 50px;
  }

  .checkbtn {
    display: flex;    
  }  

  .row {
    display: none;
  }

  .dropdown:hover .dropdown-menu {
    /* display: inline-block; */
    top: 0;
    left: 100%;
  }

  .column ul li a {
    font-size: 18px;
    padding: 14px;
  }

  #check:checked+.column {
    display: flex;
  }
}

@media (max-width: 380px) {  
  .checkbtn {
    padding: 6px;
  }
  
  .burger-icon { 
    font-size: 32px;
  }

  .column ul li a {
    font-size: 16px;
    padding: 12px;
  }
}