.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.bank {
  max-width: 100%;
}

a {
  color: rgb(247, 153, 31);
  text-decoration: none;
}

h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.buttons {
  margin: 32px;
  width: 250px;
}

button {
  color: white;
  background-color: #e72929;
  width: 100%;
  height: 48px;
  opacity: 0.8;
  font-size: 22px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px grey;
}

button:hover {
  opacity: 1;
  cursor: pointer;
}

.money {
  width: 100%;
  font-size: 18px;
  border: 1px solid grey;
}

.radio input {
  margin: 10px;
  padding: 0;
}

.bank {
  margin-left: 34px;
}

.conditions {
  width: 100%;
  padding: 8px 0;
  margin: 20px auto;
  font-size: 18px;
  border: 1px solid grey;
}

.conditions input {
  margin: 10px;
}

.conditions a {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-left: 30px;
}

@media (max-width: 800px) {
  .container {
    margin: auto;
    padding: 0 6px;
    max-width: 400px;
  }
}

@media (max-width: 550px) {
  .money {
    font-size: 14px;
  }

  .conditions {
    font-size: 14px;
  }
}

