<div class="container">


  <!-- PROFILE =============================================================================================== -->
  <table>

    <thead>
      <tr>
        <th colspan="2">Profile:</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="left" style="width: 10%;"><strong>Username</strong></td>
        <td>{{currentUser.username}}</td>
      </tr>
      <tr>
        <td class="left"><strong>Password</strong></td>
        <td><strong>********</strong></td>
      </tr>
      <tr>
        <td class="left"><strong>Name</strong></td>
        <td>{{currentUser.name}}</td>
      </tr>
      <tr>
        <td class="left"><strong>Email</strong></td>
        <td>{{currentUser.email}}</td>
      </tr>
      <tr>
        <td class="left"><strong>Phone</strong></td>
        <td>{{currentUser.phone}}</td>
      </tr>
      <tr>
        <td class="left"><strong>Address</strong></td>
        <td>{{currentUser.address}}</td>
      </tr>
      <tr>
        <td class="left"><strong>Role</strong></td>
        <td>{{currentUser.role}}</td>
      </tr>
    </tbody>

  </table>


  <!-- EDIT PROFILE ==================================================================================================== -->
  <div class="edit">
    <a (click)="editPassword()">Edit Password</a><br>
    <a (click)="editProfile()">Edit Profile</a><br>
    <a (click)="removeAccount()">Delete account</a>
  </div>



  <!-- PASSWORD ======================================================================================================== -->
  <form #p="ngForm" *ngIf="password" (ngSubmit)="p.form.valid && updatePassword()">
    <h2>Edit password</h2>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="oldPassword" [(ngModel)]="currentUser.oldPassword" minlength="4"
        maxlength="30" #oldpassword="ngModel" required>
      <div class="alert-danger" *ngIf="!oldpassword.valid && p.submitted">Insert min 4, max 30 chars!
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput type="password" name="newpassword" [(ngModel)]="currentUser.newPassword" minlength="4"
        maxlength="30" #newpassword="ngModel" required>
      <div class="alert-danger" *ngIf="!newpassword.valid && p.submitted">Insert min 4, max 30 chars!
      </div>
      <div class="alert-danger" *ngIf="differentPassword() && p.submitted">Password must be different!
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput type="password" name="repeatPassword" [(ngModel)]="repeatPassword" minlength="4" maxlength="30"
        #repeatpassword="ngModel" required>
      <div class="alert-danger" *ngIf="!repeatpassword.valid && p.submitted">Insert min 4, max 30 chars!
      </div>
      <div class="alert-danger" *ngIf="confirmPassword() && p.submitted">Wrong password confirmation!
      </div>
    </mat-form-field>

    <button mat-button type="submit">UPDATE</button>

  </form>


  <!-- PROFILE ========================================================================================================== -->
  <form #f="ngForm" *ngIf="profile" (ngSubmit)="f.form.valid && updateProfile()">
    <h2>Edit profile</h2>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" id="name" name="name" [(ngModel)]="currentUser.name" #name="ngModel" minlength="4"
        maxlength="30" required>
      <div class="alert-danger" *ngIf="!name.valid && f.submitted">Insert min 4, max 30 chars!
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" name="email" [(ngModel)]="currentUser.email" #email="ngModel"
        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required>
      <div class="alert-danger" *ngIf="!email.valid && f.submitted">
        Insert a valid email!
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput type="text" id="phone" name="phone" [(ngModel)]="currentUser.phone" #phone="ngModel"
        minlength="10" maxlength="13" pattern="^[0-9]*$" required>
      <div class="alert-danger" *ngIf="!phone.valid && f.submitted">
        Insert min 10, max 13 numbers!
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <textarea matInput id="address" name="address" cols="30" rows="3" [(ngModel)]="currentUser.address"
        #address="ngModel" minlength="10" maxlength="100" required>
          </textarea>

      <div class="alert-danger" *ngIf="!address.valid && f.submitted">
        Min 10 chars, max 100 chars!
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="oldPassword" [(ngModel)]="currentUser.oldPassword" minlength="4"
        maxlength="30" #oldpassword="ngModel" required>

      <div class="alert-danger" *ngIf="!oldpassword.valid && f.submitted">Insert min 4, max 30 chars!</div>
      <div class="alert-danger" *ngIf="match && f.submitted">Wrong password!</div>
    </mat-form-field>

    <button mat-button type="submit">UPDATE</button>

  </form>


  <!-- DELETE ========================================================================================================== -->
  <form #d="ngForm" *ngIf="remove" (ngSubmit)="d.form.valid && deleteAccount(currentUser)">

    <h2>Delete your account:</h2>
    <h1>{{currentUser.username}} ?</h1>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="oldPassword" [(ngModel)]="currentUser.oldPassword" minlength="4"
        maxlength="30" #oldpassword="ngModel" required>

      <div class="alert-danger" *ngIf="!oldpassword.valid && d.submitted">Insert min 4, max 30 chars!</div>
      <div class="alert-danger" *ngIf="match && d.submitted">Wrong password!</div>
    </mat-form-field>

    <button mat-button type="submit">DELETE</button>

  </form>

</div>