/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


html,
body {
    height: 100%;
    background: white;
}

body {
    margin: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}