.form-edit {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}

form {
    width: 200px;
}

.form-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

img {
  margin: 6px 0 ;
}

input {
    padding: 6px;
    border-radius: 2px;
    border: 1px solid grey;
}

input:focus {
    outline: 2px solid grey;
}

.alert-danger {
    color: red;
}

select {
    padding: 6px;
}

.btn-submit {
    margin: 30px 0;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    background: none;
    border: 2px solid rgb(0, 194, 94);
}

.btn-submit:hover {
    box-shadow: 1px 1px 16px rgb(0, 194, 94);
}

@media (max-width: 450px) {
    .form-edit {
      width: 240px;
    }
  }