.container {
  margin: 10px 20px 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 100%;
}

.title {
  margin: 20px 0;
  width: 100%;
}

table {
  margin-top: 20px;
  border: 2px solid rgb(186, 184, 184);
  font-family: arial, sans-serif;
  font-size: 16px;
  border-collapse: collapse;  
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  word-wrap: break-word;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  background-color: rgb(174, 174, 174);
}

.btn-new {
  padding: 0 30px;
  font-size: 16px;
  font-weight: 600;  
  background: white;
  cursor: pointer;
  border: 2px solid rgb(182, 181, 181);
  position: static;
  z-index: -1;
}

.btn-new:hover {
  color: white;
  background: rgb(93, 93, 93);
}

img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
  padding: 2px;
}

img:hover {
  background: white;
}

.btn-edit {
  margin: 2px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(79, 190, 4);
  background: white;
  cursor: pointer;
  border: 2px solid rgb(182, 181, 181);
}

.btn-edit:hover {
  color: white;
  background: rgb(79, 190, 4);
}

.btn-delete {
  margin: 2px;
  font-size: 16px;
  font-weight: 600;
  background: rgb(247, 120, 120);
  border: 2px solid grey;
  cursor: pointer;
}

.btn-delete:hover {
  color: white;
  background: rgb(250, 46, 46);
}

.col {
  display: none;
}

@media (max-width: 1000px) {
  .forms {
    width: auto;
    flex-direction: column;
    justify-content: center;
  }

  .row {
    display: none;
  }

  .container {
    max-width: 500px;
    margin: auto;
    padding: 6px;
  }

  .col {
    display: block;
  }  

  table {
    border: none;
  }

  tbody {
    border: 2px solid grey;
  }

  .btn-new {
    float: right;
  }

}

@media (max-width: 420px) {  
  .container {
    max-width: 380px;
  }

  .btn-edit {
    padding: 0 4px;
  }
  .btn-status {
      padding: 0 4px;
  }

  .btn-delete {
      padding: 0 4px;
  }
}