<div class="container">

  <form [formGroup]="registerForm" (ngSubmit)="register()">

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username">      
    </mat-form-field>
    <div class="alert-danger" *ngIf="fc['username'].invalid && isSubmitted">Insert min 4, max 30 chars!</div>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">      
    </mat-form-field>
    <div class="alert-danger" *ngIf="fc['password'].errors && isSubmitted">
      <div *ngIf="fc['password'].errors['required']">Empty password!</div>
      <div *ngIf="fc['password'].errors['minlength']">Insert min 4 character!</div>
      <div *ngIf="fc['password'].errors['maxlength']">Insert max 30 character!</div>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">      
    </mat-form-field>
    <div class="alert-danger" *ngIf="fc['name'].invalid && isSubmitted">Insert min 4, max 30 chars!</div>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">      
    </mat-form-field>
    <div class="alert-danger" *ngIf="fc['email'].errors && isSubmitted">
      <div *ngIf="fc['email'].errors['required']">Empty email!</div>
      <div *ngIf="fc['email'].errors['email']">Insert a valid email!</div>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput type="text" formControlName="phone">      
    </mat-form-field>
    <div class="alert-danger" *ngIf="fc['phone'].errors && isSubmitted">
      <div *ngIf="fc['phone'].errors['required']">Empty phone!</div>
      <div *ngIf="fc['phone'].errors['pattern']">Insert only numbers!</div>
      <div *ngIf="fc['phone'].errors['minlength']">Insert min 10 numbers!</div>
      <div *ngIf="fc['phone'].errors['maxlength']">Insert max 13 character!</div>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <textarea matInput type="text" cols="30" rows="3" formControlName="address"></textarea>      
    </mat-form-field>
    <div class="alert-danger" *ngIf="fc['address'].errors && isSubmitted">
      <div *ngIf="fc['address'].errors['required']">Empty address!</div>
      <div *ngIf="fc['address'].errors['minlength']">Insert min 10 character!</div>
      <div *ngIf="fc['address'].errors['maxlength']">Insert max 100 character!</div>
    </div>


    <div class="alert" *ngIf="message">{{message}}</div>

    <button mat-button type="submit">REGISTER</button>

    <a routerLink="/auth/login">Login here!</a>

  </form>

</div>