.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #090909;
}

form:hover {
  box-shadow: 0 18px 26px 0 rgba(0, 0, 0, 0.564);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

mat-form-field {
  width: 70%;
}

::ng-deep .mat-form-field-label {
  z-index: -1;
}

::ng-deep .mat-form-field-underline {
  z-index: -1;
}

textarea {
  max-width: 100%;
  max-height: 100px;
}

.alert {
  margin-top: 10px;
  color: rgb(255, 85, 0);
}

.alert-danger {
  width: 70%;
  color: red;
  text-align: center;
}

button {
  margin-top: 10px;
  width: 70%;
  border: 3px solid rgb(0, 36, 168);
}

button:hover {
  cursor: pointer;
  background: transparent;
  box-shadow: 2px 2px 6px rgb(0, 24, 112);
}

a {
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: rgb(106, 106, 106);

}

a:hover {
  font-size: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.564);
  color: rgb(0, 0, 0);
  ;
  opacity: .8;
  cursor: pointer;
}

@media (max-width: 550px) {
  .container {
    margin-top: 50px;
  }

  form {
    width: 340px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}